body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00E3CF, #023853);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  }

.form-container {
    max-width: 1000px;
    background: linear-gradient(to bottom right, #FFC6D3, #87FFFD, #023853);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 20px 20px 60px #0e0c1d, 
    -20px -20px 60px #242653;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-input, .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid transparent;
    background-color: #fff;
    color: #262626;
    transition: background-color 0.5s, transform 0.5s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.1);
    position: relative; /* For pseudo-elements */
}

.form-input::placeholder, .form-button {
    color: #262626;
}

.form-input:focus, .form-button:hover {
    background-color: #8ea4c1;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4), -4px -4px 15px rgba(255, 255, 255, 0.2);
}

.form-button {
    cursor: pointer;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
}

label {
    color: white;
}

.set-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.set-container > div {
    flex: 1 1 auto;
    flex-grow: 1;
    margin-right: 10px;
    min-width: 0px;
}


.set-container > div:last-child {
    margin-right: 0;
}

.set-property-div{
    margin-left: 15px;
}

.remove-set-btn {
    flex-grow: 0;
    flex-basis: 100px; /* Adjust this value to the width you want */
    white-space: nowrap; /* Prevents the text from wrapping */
    margin-left: 30px;
}
  

/* Additional styles for a more modern look */
.form-input, .form-button {
    overflow: hidden; /* For inner shadow effects */
    background: linear-gradient(145deg, #ececec, #ffffff);
}

.form-input:focus, .form-button:hover {
    background: linear-gradient(145deg, #8ea4c1, #a3b5d1);
}

.set-input {
    /* Styles specific to the set inputs */
    background: #e0e0e0; /* Light grey background for contrast */
    border: 1px solid #d1d1d1; /* Slightly darker border for definition */
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.1), /* inner top shadow */
                inset -4px -4px 6px rgba(255, 255, 255, 0.7); /* inner bottom shadow */
    color: #333; /* Darker text for better readability */
    margin: 0 5px; /* Space out the inputs */
    flex: 1; /* Distribute space evenly */
  }
